snippet y "y-statement"
  In the context of <use case/component>,
  facing <concern>,
  we decided for <option1>,
  and neglected <option2, ... oN>,
  to achieve <quality>,
  accepting downside <consequence>
