[user]
	name = Jake Brinkmann
	email = jakebrinkmann@gmail.com
[core]
    editor = vim -c vsplit -c'e SCRATCH' -c'setlocal bt=nofile ft=diff' -c'r!git diff --cached' -c 1
[diff]
	tool = vimdiff
[color]
    ui = auto
[merge]
    tool = vimdiff
[alias]
	webui = !$HOME/.git-webui/release/libexec/git-core/git-webui
	dt = difftool
	df = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = cache
[difftool]
	prompt = false
