snippet :style: "cosmetic"
💄
endsnippet
snippet :fmt: "format/structure of the code improv."
🎨
endsnippet
snippet :perf:  "performance improv."
⚡️
endsnippet
snippet :meet: "team meetings"
📅
endsnippet
snippet :chat: "discussions"
💬
endsnippet
snippet :diag: "architecture and diagraming"
📐
endsnippet
snippet :docs: "writing docs"
✏️
endsnippet
snippet :bulb: "writing code comments"
💡
endsnippet
snippet :build: "build or package"
📦
endsnippet
snippet :deploy: "push or release"
🚀 
endsnippet
snippet :chore: "config or ci"
🔧
endsnippet
snippet :sparkles: "add new feature"
✨
endsnippet
snippet :refactor: "refactor code"
🔨
endsnippet
snippet :test: "adding tests"
🚨
endsnippet
snippet :lock: "security update"
🔒
endsnippet
snippet :review: "code review"
👀
endsnippet
snippet :merge: "Continuous Integration"
💚
endsnippet
snippet :init: "Initial commit, begin project"
🎉
endsnippet
snippet :data: "Analytics or tracking code"
📊
endsnippet
snippet :hotfix: "critical hotfix"
🚑
endsnippet
snippet :bug: "bug fix"
🐞
endsnippet
