snippet db "" b
debugger; //
endsnippet

snippet cl "" b
console.log("${1:HERE}")
endsnippet

snippet r "" b
throw "${1:HANDS IN THE AIR}"
endsnippet

snippet async
(async () => {return (await Promise.resolve('hi'))})()
endsnippet
