# git config --local  ...  #writes to .git/config in the .git folder 'underneath' your repository
# git config --global ...  #writes to ~/.gitconfig on your PC
# git config --system ...  #writes to /etc/gitconfig on your PC
[help]
  autocorrect = 1

[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[credential]
    helper = cache --timeout=3600

[interactive]
    singlekey = true
    diffFilter = delta --color-only

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[push]
    followTags = true
	default = current

[merge]
  tool = fugitive
[mergetool "vim"]
  cmd = vim -f -c \"Gdiffsplit\" \"$MERGED\"
[mergetool "nvim"]
  cmd = nvim -d -c \"wincmd l\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[mergetool "fugitive"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[mergetool]
  prompt = false
  keepBackup = false

[pull]
  rebase = false

[commit]
  template = ~/.gitmessage

[init]
  defaultBranch = dev
  # dev, qa, tst, ops

[feature]
  manyFiles = 1

[diff]
  algorithm = histogram

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    features = line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[filter "reductScript"]
	smudge = ~/.local/bin/git-smudge-clean smudge
	clean = ~/.local/bin/git-smudge-clean clean

; [remote "origin"]
; 	prune = true

[fetch]
	prune = true

[secrets]
	# git secrets --register-aws --global
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
