#!/bin/bash
# Always copy contents of directories (r)ecursively and explain (v) what was done
alias cp='cp -rv'
# List contents with colors for file types, (A)lmost all hidden files
alias ls='ls --color=auto -ACF'
# List contents with colors for file types, (a)ll hidden entries
alias ll='ls --color=auto -sialF'

# Explain (v) what was done when moving a file
alias mv='mv -v'
# Create any non-existent (p)arent directories and explain (v) what was done
alias mkdir='mkdir -pv'
# Always try to (c)ontinue getting a partially-downloaded file
alias wget='wget -c'
# Use a more syntax-aware option
alias cat='bat'

alias d='date "+%j/%Y [%m/%d] %H:%M:%S (%I:%M%p) %Z"'
alias grep="grep --color=auto"
alias m="find . \( ! -regex '.*/\..*' \) -printf '%T@ %Tc %p\n' | sort -n | tail -n 25"
alias first="head -n1"

# flash red on bell
alias bell="echo -e '\a'"
alias wbell='for x in $(seq 1 60); do bell; sleep 1; done'

# tmux and vim
alias tmux='tmux -2'                   # force tmux to use 256 colors
alias ta='tmux a'                      # attach to session
alias td='tmux attach -t dev || tmux new -s dev' # developer session

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -d '\n' -n1"

# Disable GUI
alias emacs="emacs -nw"

# I cannot unlearn using vi
alias vi='$EDITOR'

# more wholesome experience
alias please=sudo
alias lick=touch
alias help=man

alias DockerDesktop="open -a Docker"
alias Obsidian="open 'obsidian://open'"

# Python Environments
alias mkenv='python3 -m venv .venv'
alias po:in='poetry install --no-root'
alias po:lk='poetry lock --no-update'
alias po:st='source $(poetry env info --path)/bin/activate && which python3'
alias po:sp='deactivate'

# Helper aliases
alias archive='tar --create --gzip --verbose --file'

# console-oriented
alias weather="clear && curl 'wttr.in/?0'"

# SVN
alias svn="svn --username=$SVN_USERNAME --password=$SVN_PASSWORD"

# AWS/NodeJS
alias aws:li="aws sso login"
alias cdk="npx aws-cdk"
alias yarn="npx yarn"
alias prettier="npx prettier --single-quote --print-width 120 --write"

# Searching the DNS world
alias dig="dig +noadditional +noquestion +nocomments +nocmd +nostats"

# Notes
# https://github.com/zk-org/zk/blob/main/docs/getting-started.md
alias notes:work="nvim +'cd ~/Documents|ZkNotes'"
alias notes:learn="nvim +'cd ~/learnings|ZkNotes'"

# warriors
alias tt="task"
alias tcx="task context"
alias tw="timew"
alias tws="timew summary :ids"
alias bwp="bugwarrior pull"

# crontab
alias crontab-e='vi ~/.crontab && crontab ~/.crontab'

# Calendar CLI
alias today='icalBuddy -npn -nc -ps "/: /" -iep "datetime,title" -po "datetime, title" -ic "Calendar" eventsToday'

# Git aliases (not handled by oh-my-zsh)
alias gpuc='ggpush -o ci.skip'
