#!/bin/bash

# Eternal bash history.
# ---------------------
export HISTFILESIZE=
export HISTSIZE=
export HISTTIMEFORMAT="[%F %T] "
export HISTFILE="$HOME/.bash_history_$(date '+%Y_%m')"
export HISTCONTROL=ignorespace:ignoredups:erasedups
export HISTIGNORE='pwd:exit:fg:bg:top:clear:history:ls:uptime:df:cd:logout:bh *'

export EDITOR='nvim'
export EDITOR='vim'
export PAGER='less --chop-long-lines --RAW-CONTROL-CHARS'

### NOT NEEDED WITH WSL 2
#### # To connect from WSL to Docker4windows Daemon
#### # (requires exposing daemon over tcp without TLS...)
#if [[ "$(< /proc/version)" == *@(Microsoft|WSL)* ]]
#then
#  export DOCKER_HOST="tcp://0.0.0.0:2375"
#  # export DOCKER_TLS_VERIFY=0
#fi
export DOCKER_DEFAULT_PLATFORM=linux/amd64

# Store History Database
export IPYTHONDIR=/tmp

# Opt-out of telemetry data collection
export SAM_CLI_TELEMETRY=0

# Make WSL not highlight all the folders
export LS_COLORS=$LS_COLORS:'ow=1;34:'

# Make node.js debugger/inspect not break on start
export NODE_INSPECT_RESUME_ON_START=1
# Limit nodejs memory (2GB)
export NODE_OPTION=--max_old_space_size=2048

# Configure fzf for nomouse
export FZF_DEFAULT_OPTS='--no-mouse --bind '\
'shift-up:preview-up,shift-down:preview-down,'\
'page-up:preview-page-up,page-down:preview-page-down'

# This is sometimes useful, consider also ~/.pg_service.conf
export PGHOST=127.0.0.1
export PGUSER=
export PGDATABASE=
export PGPASSWORD=

# AWS_DEFAULT_REGION=us-east-1
# AWS_DEFAULT_OUTPUT=json
# AWS_PROFILE=default
export AWS_PAGER=""

# I do not want homebrew to update everything
export HOMEBREW_NO_AUTO_UPDATE=1

# make poetry create the virtual environment in `.venv``
# export POETRY_VIRTUALENVS_IN_PROJECT=true
# export POETRY_NO_INTERACTION=1
# export POETRY_VIRTUALENVS_CREATE=true

# Wish I could configure this in timewarriorcfg
# export TIMEWARRIORDB=$HOME/notes/work/.timewarrior/

# Setup C++14 compiling on MacOS
export CC=/opt/homebrew/Cellar/llvm/15.0.6/bin/clang
