#!/bin/bash
if (sudo -nv &> /dev/null); then
  sudo="sudo"
else
  sudo=""
fi

# Find things in internal history
h() { grep -a "$1" "${HOME}/.bash_eternal_history"; }

# Delete python leftovers
pyclean() { find . | grep -E "(__pycache__|pytest_cache|\.pyc|\.pyo$)" | xargs $sudo rm -rf; }

# Search files
search() {
  find . -type f \
    -not -ipath "*python*" \
    -not -ipath "*node_modules*" \
    -not -ipath "*aws-sam*" \
    -not -ipath "*tests*" \
    -not -ipath "*.venv*" \
    -not -ipath "*.git*" \
    -printf "%T@ %Td-%Tb-%TY %Tk:%Tm %p\n" \
    | sort -rn | tr -s ' ' | cut -d " " -f 4- |
    xargs -I % grep -i --color=always $@ % /dev/null
}

# Run newman using docker
__newman() {
  docker run --rm -it -v "${PWD}":/etc/newman -t postman/newman:alpine "$@";
}

# Run AWS CLI using docker
__aws() {
  docker run --rm -it -v ${HOME}/.aws:/root/.aws -v ${PWD}:/aws -e AWS_REGION -e AWS_PROFILE amazon/aws-cli:latest "$@";
}

# Flash the screen after 25mins (1500s)
pomo() {
  sleep ${1:-1500}; for x in $(seq 1 60); do echo -e '\a'; sleep 1; done
}

# Cheatsheet
cht() {
  selected=$(curl -ks cht.sh/:list | ~/.vim/plugged/fzf/bin/fzf --preview 'curl -ks cht.sh/{}' -q "$*")
  if [[ -n "$selected" ]]; then
    curl -ks cht.sh/$selected
  fi
}
