#!/bin/bash
# Change all IPs in a file to mine
replaceIp() {
  local filename="$1"
  IPADDR=$(ifconfig -l | xargs -n1 ipconfig getifaddr)
  [ "1" -ne "$(wc -l <<< "$IPADDR")" ] && echo "TOO MANY INTERNET CONNECTIONS!" && return 1
  sed -i '' 's/[0-9]\{1,3\}\.[0-9]\{1,3\}\.[0-9]\{1,3\}\.[0-9]\{1,3\}/'"$IPADDR"'/g' "$filename"
}

# Flash the screen after 25mins (1500s)
pomo() {
  sleep 1500; for x in $(seq 1 60); do printf '\a'; sleep 1; done
}

# Flash the screen after 5mins (300s)
mikado() {
  sleep 300; say ${1:-done}; for x in $(seq 1 60); do printf '\a'; sleep 1; done
}

# Cheatsheet
cht() {
  selected=$(curl -ks cht.sh/:list | fzf --preview 'curl -ks cht.sh/{}' -q "$*")
  if [[ -n "$selected" ]]; then
    curl -ks cht.sh/$selected
  fi
}

__flatten_folder() {
  find . -type f -name "*" | sed 's/$/"/;s/^/"/;h;s/^...//;s/^/"/;y/\//_/;H;g;s/\n/ /g;s/^/cp -v /' | sh
}

__fonts() {
  fc-list : family | sort -f
}


__wait_port() {
  URI="http://localhost:${1:-8080}"
  echo "$URI"
  until (curl --output /dev/null --silent --head --fail "$URI"); do
      printf '.'
      sleep 5
  done
}
